html,
body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}

body {
    display: grid;
    grid-template-rows: 150px auto 100px;
    grid-template-columns: minmax(200px, 2fr) 1fr;
    grid-template-areas: "header header" "content content" "footer footer";
}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-area: header;
    border-bottom: groove;
    overflow: hidden;
    left: 50px
}

content {
    grid-area: content;
}

footer {
    /* border-top: groove;*/
    grid-area: footer;
}