#question {
    position: right;
    right: 10px
}

nav {
    position: left;
    border-bottom: groove;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    direction: ltr;
}

img {
    width: 2222px;
    height: 100px;
    margin-left: 50%;
    transform: translateX(-50%);
    opacity: 0.5;
}